.button {
  /* Base button styles */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem .75rem; /* 10px 24px */
  border-radius: 100px; /* Fully rounded edges for M3 buttons */
  min-width: 64px;
  min-height: 40px;
  font-family: var(--gm3-sys-typography-type-scale--label-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--label-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--label-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--label-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--label-l-font-tracking);
  cursor: pointer;
  border: none;
  position: relative;
  border: 1px solid transparent;

  transition: opacity 150ms;
  
  /* Focus outline */
  &:focus-visible {
    outline: 3px solid var(--gm3-sys-color-secondary);
    outline-offset: 2px;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    inset: -1px;
    opacity: 0;
    transition: opacity 150ms;
  }

  /* State layers */
  &::before {
    background-color: currentColor;
    pointer-events: none;
    border-radius: inherit;
  }
  &::after {
    inset-block: -4px;
  }

  &:disabled {
    cursor: default;
    opacity: 0.35;
  }

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover::before {
        opacity: 0.08
      }
    }

    &:active::before {
      opacity: 0.2
    }
  }

  &.icon {
    min-width: 0;
  }

  /* Button appearance variations */

  /* Primary Button */
  &[data-appearance="primary"] {
    background-color: var(--gm3-sys-color-primary);
    color: var(--gm3-sys-color-on-primary);
  }

  /* Elevated Button */
  &[data-appearance="elevated"] {
    background-color: var(--gm3-sys-color-surface-container-high);
    color: var(--gm3-sys-color-on-surface);
  }

  /* Inverse Surface Button */
  &[data-appearance="inverse-surface"] {
    background-color: var(--gm3-sys-color-inverse-surface);
    color: var(--gm3-sys-color-inverse-on-surface); /* Assuming on-primary is suitable */
  }

  /* Secondary Button */
  &[data-appearance="secondary"] {
    background-color: var(--gm3-sys-color-secondary);
    color: var(--gm3-sys-color-on-secondary);
  }

  /* Tertiary Button */
  &[data-appearance="tertiary"] {
    background-color: var(--gm3-sys-color-tertiary);
    color: var(--gm3-sys-color-on-tertiary);
  }

  /* Outlined Button */
  &[data-appearance="outlined"] {
    background-color: transparent;
    color: var(--gm3-sys-color-primary); /* Or outline color */
    border: 1px solid var(--gm3-sys-color-outline);
  }

  /* Tonal Button */
  &[data-appearance="tonal"] {
    background-color: var(--gm3-sys-color-secondary-container);
    color: var(--gm3-sys-color-on-secondary-container);
  }

  /* Text Button */
  &[data-appearance="text"] {
    background-color: transparent;
    color: var(--gm3-sys-color-primary); /* Or on-surface color */
  }

  &[data-appearance="destructive"] {
    background-color: var(--gm3-sys-color-error-container);
    color: var(--gm3-sys-color-on-error-container)
  }
}
