.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: calc(var(--button-height) / 2);
  min-width: 64px;
  height: var(--button-height);
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;

  font: inherit;
  font-weight: 500;

  transition: opacity 150ms;

  transition:
    border-radius cubic-bezier(0.42, 1.67, 0.21, 0.90) 350ms,
    scale cubic-bezier(0.27, 1.06, 0.18, 1.00) 500ms,
    background cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms,
    color cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms,
    opacity 150ms linear;
  
  /* Focus outline */
  &:focus-visible {
    outline: 3px solid var(--gm3-sys-color-secondary);
    outline-offset: 2px;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    inset: -1px;
    transition: opacity 150ms;
  }

  /* State layers */
  &::before {
    background-color: currentColor;
    pointer-events: none;
    border-radius: inherit;
    opacity: 0;
  }
  /* Touch target */
  &::after {
    pointer-events: all;
  }

  &:disabled {
    cursor: default;
    opacity: 0.38;
  }

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover::before {
        opacity: 0.08
      }
    }

    &:active::before {
      opacity: 0.1
    }
  }

  /* Button appearance variations */

  /* Primary Button */
  &[data-appearance="primary"] {
    background-color: var(--gm3-sys-color-primary);
    color: var(--gm3-sys-color-on-primary);
  }

  /* Elevated Button */
  &[data-appearance="elevated"] {
    background-color: var(--gm3-sys-color-surface-container-low);
    color: var(--gm3-sys-color-primary);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  }

  /* Inverse Surface Button */
  &[data-appearance="inverse-surface"] {
    background-color: var(--gm3-sys-color-inverse-surface);
    color: var(--gm3-sys-color-inverse-on-surface); /* Assuming on-primary is suitable */
  }

  /* Secondary Button */
  &[data-appearance="secondary"] {
    background-color: var(--gm3-sys-color-secondary);
    color: var(--gm3-sys-color-on-secondary);
  }

  /* Tertiary Button */
  &[data-appearance="tertiary"] {
    background-color: var(--gm3-sys-color-tertiary);
    color: var(--gm3-sys-color-on-tertiary);
  }

  /* Outlined Button */
  &[data-appearance="outlined"] {
    background-color: transparent;
    color: var(--gm3-sys-color-primary); /* Or outline color */
    border: 1px solid var(--gm3-sys-color-outline);
  }

  /* Tonal Button */
  &[data-appearance="tonal"] {
    background-color: var(--gm3-sys-color-secondary-container);
    color: var(--gm3-sys-color-on-secondary-container);
  }

  /* Text Button */
  &[data-appearance="text"] {
    background-color: transparent;
    color: var(--gm3-sys-color-primary); /* Or on-surface color */
    padding: 0.625rem 0.5rem;
  }

  &[data-appearance="destructive"] {
    background-color: var(--gm3-sys-color-error-container);
    color: var(--gm3-sys-color-on-error-container)
  }

  &[data-size="xs"] {
    padding-inline: 12px;
    --button-height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:not(:disabled):active {
      border-radius: 8px;
    }
    &::after {
      inset-block: -9px;
    }
  }
  &[data-size="s"] {
    padding-inline: 16px;
    --button-height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:not(:disabled):active {
      border-radius: 8px;
    }
    &::after {
      inset-block: -5px;
    }
  }
  &[data-size="m"] {
    padding-inline: 24px;
    --button-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    &:not(:disabled):active {
      border-radius: 12px;
    }
  }
  &[data-size="l"] {
    padding-inline: 48px;
    --button-height: 96px;
    border-width: 2px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    &:not(:disabled):active {
      border-radius: 16px;
    }
  }
  &[data-size="xl"] {
    padding-inline: 64px;
    --button-height: 136px;
    border-width: 3px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    &:not(:disabled):active {
      border-radius: 16px;
    }
  }

  &.icon {
    min-width: 0;
    width: var(--button-height);
    padding: 0;
    &::after {
      inset: -5px;
    }
  }
}
