/* Responsive Dialog/Drawer Styles */

/* Drawer (Mobile) Styles */
.responsive-drawer-overlay {
  background-color: rgba(0 0 0 / 0.6);
  position: fixed;
  inset: 0;
  z-index: 900;
}

.responsive-drawer-content {
  background-color: var(--gm3-sys-color-surface-container-low);
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  max-height: 90dvh;
  color: var(--gm3-sys-color-on-surface);
  z-index: 1000;

  margin-inline: auto;
}

.responsive-drawer-handle {
  margin-inline: auto;
  width: 32px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 3px;
  margin-block: 1.375rem;
  background-color: var(--gm3-sys-color-on-surface-variant);
  opacity: 0.4;
}

.responsive-drawer-container {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 0 1.5rem;
  flex: 1;
}

.responsive-drawer-title {
  font-family: var(--gm3-sys-typography-type-scale--headline-m-font-name);
  font-size: var(--gm3-sys-typography-type-scale--headline-m-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--headline-m-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--headline-m-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--headline-m-font-tracking);
  color: var(--gm3-sys-color-on-surface);
}

.responsive-drawer-description {
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--body-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--body-l-font-tracking);
  color: var(--gm3-sys-color-on-surface-variant);
}

.responsive-drawer-actions {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  margin-block: 1rem 2rem;
}

/* Dialog (Desktop) Styles */
.responsive-dialog-content {
  background-color: var(--gm3-sys-color-surface);
  border-radius: 1rem;
  padding: 1.5rem;
  width: max-content;
  max-width: 560px;
  max-height: 90vh;
  overflow-y: auto;
  color: var(--gm3-sys-color-on-surface);
  border: none; /* Remove default dialog border */
  
  position: fixed;
  inset: 0;

  z-index: 950;

  animation: dialog-in 500ms cubic-bezier(.27, 1.06, 0.18, 1.00);
}

.responsive-dialog-content::backdrop {
  background-color: var(--gm3-sys-color-scrim);
  opacity: 0.6; /* Adjust opacity as needed */
}

.responsive-dialog-header {
  margin-bottom: 1rem;
}

.responsive-dialog-title {
  font-family: var(--gm3-sys-typography-type-scale--headline-m-font-name);
  font-size: var(--gm3-sys-typography-type-scale--headline-m-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--headline-m-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--headline-m-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--headline-m-font-tracking);
  color: var(--gm3-sys-color-on-surface);
  margin-bottom: 0.5rem;
}

.responsive-dialog-description {
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--body-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--body-l-font-tracking);
  color: var(--gm3-sys-color-on-surface-variant);
}

.responsive-dialog-body {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.responsive-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  padding-top: 1rem;
}

@keyframes dialog-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
}