.edit-page-container {
  padding-top: 56px;
  background-color: var(--gm3-sys-color-surface-container);
}

.edit-page-header {
  display: flex;
  align-items: center;
  padding: 0rem .5rem ;
  gap: 1rem;
  position: fixed;
  z-index: 5;
  top: 0;
  inset-inline: 0;
  height: 56px;
  text-wrap: nowrap;
  background-color: var(--gm3-sys-color-surface-container);
}

.edit-page-header h2 {
  flex-grow: 1;
  color: var(--gm3-sys-color-on-surface);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-page-header span {
  color: var(--gm3-sys-color-on-surface-variant);
}

.edit-page-add-word-section {
  padding: .5rem 0;
  width: 100%;
  display: flex;
  gap: .5rem;
  input {
    flex-grow: 1;
  }
}

.edit-page-word-list-container {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  max-width: 800px;

  overscroll-behavior-x: none;
}

.edit-page-no-words {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: 1px dashed var(--gm3-sys-color-outline);
  border-radius: 0.5rem;
  color: var(--gm3-sys-color-on-surface-variant);
}

.edit-page-no-words-text {
  text-align: center;
}

.edit-page-word-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit-page-word-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--gm3-sys-color-surface);
  height: 48px;

  touch-action: pan-y;
  overflow: visible;
  border-radius: 4px;
  &:first-child {
    border-radius: 12px 12px 4px 4px;
  }
  &:last-child {
    border-radius: 4px 4px 12px 12px;
  }
  &.dragging {
    border-radius: 12px;
  }
}

.edit-page-word-item .card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0 4px;
}

.edit-page-word-item-editing {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  input {
    flex-grow: 1;
  }
}

.edit-page-word-item-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-inline-start: 12px;
}

.edit-page-word-item-actions {
  display: flex;
  gap: 8px;
}

.edit-page-swipe-indicator-overlay {
  position: absolute;
  inset-block: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 16px;
}

.edit-page-swipe-indicator-overlay.left {
  left: -12px;
  background-color: var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
  transform: translateX(-100%);
}

.edit-page-swipe-indicator-overlay.right {
  right: -12px;
  background-color: var(--gm3-sys-color-error);
  color: var(--gm3-sys-color-on-error);
  transform: translateX(100%);
}