*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --gm3-sys-color-background: #131314;
  --gm3-sys-color-error: #f2b8b5;
  --gm3-sys-color-error-container: #8c1d18;
  --gm3-sys-color-inverse-on-surface: #303030;
  --gm3-sys-color-inverse-primary: #0b57d0;
  --gm3-sys-color-inverse-surface: #e3e3e3;
  --gm3-sys-color-on-background: #e3e3e3;
  --gm3-sys-color-on-error: #601410;
  --gm3-sys-color-on-error-container: #f9dedc;
  --gm3-sys-color-on-primary: #062e6f;
  --gm3-sys-color-on-primary-container: #d3e3fd;
  --gm3-sys-color-on-primary-fixed: #041e49;
  --gm3-sys-color-on-primary-fixed-variant: #0842a0;
  --gm3-sys-color-on-secondary: #035;
  --gm3-sys-color-on-secondary-container: #c2e7ff;
  --gm3-sys-color-on-secondary-fixed: #001d35;
  --gm3-sys-color-on-secondary-fixed-variant: #004a77;
  --gm3-sys-color-on-surface: #e3e3e3;
  --gm3-sys-color-on-surface-variant: #c4c7c5;
  --gm3-sys-color-on-tertiary: #0a3818;
  --gm3-sys-color-on-tertiary-container: #c4eed0;
  --gm3-sys-color-on-tertiary-fixed: #072711;
  --gm3-sys-color-on-tertiary-fixed-variant: #0f5223;
  --gm3-sys-color-outline: #8e918f;
  --gm3-sys-color-outline-variant: #444746;
  --gm3-sys-color-primary: #a8c7fa;
  --gm3-sys-color-primary-container: #0842a0;
  --gm3-sys-color-primary-fixed: #d3e3fd;
  --gm3-sys-color-primary-fixed-dim: #a8c7fa;
  --gm3-sys-color-scrim: #000;
  --gm3-sys-color-secondary: #7fcfff;
  --gm3-sys-color-secondary-container: #004a77;
  --gm3-sys-color-secondary-fixed: #c2e7ff;
  --gm3-sys-color-secondary-fixed-dim: #7fcfff;
  --gm3-sys-color-shadow: #000;
  --gm3-sys-color-surface: #131314;
  --gm3-sys-color-surface-bright: #37393b;
  --gm3-sys-color-surface-container: #1e1f20;
  --gm3-sys-color-surface-container-high: #282a2c;
  --gm3-sys-color-surface-container-highest: #333537;
  --gm3-sys-color-surface-container-low: #1b1b1b;
  --gm3-sys-color-surface-container-lowest: #0e0e0e;
  --gm3-sys-color-surface-dim: #131314;
  --gm3-sys-color-surface-tint: #d1e1ff;
  --gm3-sys-color-surface-variant: #444746;
  --gm3-sys-color-tertiary: #6dd58c;
  --gm3-sys-color-tertiary-container: #0f5223;
  --gm3-sys-color-tertiary-fixed: #c4eed0;
  --gm3-sys-color-tertiary-fixed-dim: #6dd58c;

  /* Typography variables */
  --gm3-sys-typography-type-scale--body-l-dense-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--body-l-dense-font-size: 1rem;
  --gm3-sys-typography-type-scale--body-l-dense-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--body-l-dense-font-weight: 400;
  --gm3-sys-typography-type-scale--body-l-dense-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--body-l-dense-line-height: 24px;
  --gm3-sys-typography-type-scale--body-l-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--body-l-font-size: 1rem;
  --gm3-sys-typography-type-scale--body-l-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--body-l-font-weight: 400;
  --gm3-sys-typography-type-scale--body-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--body-l-line-height: 1.75rem;
  --gm3-sys-typography-type-scale--body-l-alt-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--body-l-alt-font-weight: 700;
  --gm3-sys-typography-type-scale--body-l-alt-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--body-l-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--body-l-font-size: 0.875rem;
  --gm3-sys-typography-type-scale--body-l-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--body-l-font-weight: 400;
  --gm3-sys-typography-type-scale--body-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--body-l-line-height: 1.25rem;
  --gm3-sys-typography-type-scale--body-s-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--display-l-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--display-l-font-size: 3.5625rem;
  --gm3-sys-typography-type-scale--display-l-font-tracking: -0.03125rem;
  --gm3-sys-typography-type-scale--display-l-font-weight: 500;
  --gm3-sys-typography-type-scale--display-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--display-l-line-height: 4rem;
  --gm3-sys-typography-type-scale--display-m-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--display-m-font-size: 2.8125rem;
  --gm3-sys-typography-type-scale--display-m-font-tracking: -0.03125rem;
  --gm3-sys-typography-type-scale--display-m-font-weight: 500;
  --gm3-sys-typography-type-scale--display-m-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--display-m-line-height: 3.25rem;
  --gm3-sys-typography-type-scale--display-s-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--display-s-font-size: 2rem;
  --gm3-sys-typography-type-scale--display-s-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--display-s-font-weight: 500;
  --gm3-sys-typography-type-scale--display-s-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--display-s-line-height: 2.25rem;
  --gm3-sys-typography-type-scale--headline-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--headline-m-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--headline-m-font-size: 1.75rem;
  --gm3-sys-typography-type-scale--headline-m-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--headline-m-font-weight: 400;
  --gm3-sys-typography-type-scale--headline-m-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--headline-m-line-height: 2.25rem;
  --gm3-sys-typography-type-scale--headline-s-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--label-l-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--label-l-font-size: 0.875rem;
  --gm3-sys-typography-type-scale--label-l-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--label-l-font-weight: 500;
  --gm3-sys-typography-type-scale--label-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--label-l-line-height: 1.25rem;
  --gm3-sys-typography-type-scale--label-m-alt-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--label-m-alt-font-size: 0.75rem;
  --gm3-sys-typography-type-scale--label-m-alt-font-tracking: 0.00625rem;
  --gm3-sys-typography-type-scale--label-m-alt-font-weight: 400;
  --gm3-sys-typography-type-scale--label-m-alt-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--label-m-alt-line-height: 1rem;
  --gm3-sys-typography-type-scale--label-m-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--label-m-font-size: 0.75rem;
  --gm3-sys-typography-type-scale--label-m-font-tracking: 0.00625rem;
  --gm3-sys-typography-type-scale--label-m-font-weight: 500;
  --gm3-sys-typography-type-scale--label-m-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--label-m-line-height: 1rem;
  --gm3-sys-typography-type-scale--label-s-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--title-l-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--title-l-font-size: 1.25rem;
  --gm3-sys-typography-type-scale--title-l-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--title-l-font-weight: 500;
  --gm3-sys-typography-type-scale--title-l-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--title-l-line-height: 1.75rem;
  --gm3-sys-typography-type-scale--title-m-alt-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--title-m-alt-font-weight: 400;
  --gm3-sys-typography-type-scale--title-m-alt-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--title-m-alt-line-height: 1.5rem;
  --gm3-sys-typography-type-scale--title-m-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--title-m-font-size: 1rem;
  --gm3-sys-typography-type-scale--title-m-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--title-m-font-weight: 500;
  --gm3-sys-typography-type-scale--title-m-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--title-m-line-height: 1.5rem;
  --gm3-sys-typography-type-scale--title-s-font-name: Roboto,Arial,sans-serif;
  --gm3-sys-typography-type-scale--title-s-font-size: 0.875rem;
  --gm3-sys-typography-type-scale--title-s-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--title-s-font-weight: 500;
  --gm3-sys-typography-type-scale--title-s-font-width: "wdth" 100;
  --gm3-sys-typography-type-scale--title-s-line-height: 1.25rem;
  --gm3-sys-typography-type-scale--body-l-alt-font-size: 0.875rem;
  --gm3-sys-typography-type-scale--body-l-alt-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--body-l-alt-line-height: 1.25rem;
  --gm3-sys-typography-type-scale--title-m-alt-font-size: 1rem;
  --gm3-sys-typography-type-scale--title-m-alt-font-tracking: 0rem;
  --gm3-sys-typography-type-scale--title-m-alt-line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  line-height: var(--gm3-sys-typography-type-scale--body-l-line-height);
  color: var(--gm3-sys-color-on-background);
  background-color: var(--gm3-sys-color-background);
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
}

#root {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}  
