.input {
  background-color: transparent;
  color: var(--gm3-sys-color-on-surface);
  border: 1px solid var(--gm3-sys-color-outline);
  border-radius: 4px;
  padding: 0 12px;
  height: 40px;
  font: inherit;
}

.input:focus {
  border-color: var(--gm3-sys-color-primary);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.input::placeholder {
  color: var(--gm3-sys-color-outline);
}
