/* MainPage.css */

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 100dvh;
  padding: 1rem;
  position: relative;
}

@media (min-width: 1024px) {
  .main-page-container {
    justify-content: center;
  }
}

.settings-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%; /* Make it a circle */
  width: 48px; /* Material 3 touch target size */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.main-page-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px; /* Limit width for better aesthetics */
}

.main-page-primary-buttons .button {
  padding: 2rem 4rem;
  font-family: var(--gm3-sys-typography-type-scale--title-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--title-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--title-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--title-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--title-l-font-tracking);
}

.main-page-primary-buttons,
.main-page-secondary-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.main-page-word-list {
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
}

.main-page-word-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-page-word-list li {
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--body-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--body-l-font-tracking);
  color: var(--gm3-sys-color-on-surface);
  padding: 0 .5rem;
  line-height: 3.5rem;
  text-align: start;
  &:not(:last-child) {
    border-bottom: 1px solid var(--gm3-sys-color-outline-variant);
  }
}