/* MainPage.css */

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100dvh;
  padding: 1rem;
  gap: 1rem;
  position: relative;

  background-color: var(--gm3-sys-color-surface-container);
}

@media (min-width: 1024px) {
  .main-page-container {
    justify-content: center;
  }
}

.main-page-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px; /* Limit width for better aesthetics */
}

.main-page-primary-buttons,
.main-page-secondary-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.main-page-word-list {
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
  border-radius: 16px;
}

.main-page-word-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-page-word-list li {
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--body-l-line-height);
  letter-spacing: var(--gm3-sys-typography-type-scale--body-l-font-tracking);
  background-color: var(--gm3-sys-color-surface);
  
  margin-bottom: 2px;
  padding: 0 1rem;
  line-height: 48px;
  text-align: start;
  border-radius: 4px;
  &:first-child {
    border-radius: 12px 12px 4px 4px;
  }
  &:last-child {
    border-radius: 4px 4px 12px 12px;
  }
}