/* SettingsModal.css */

.settings-modal-display-mode-section {
  margin-top: 1rem;
}

.settings-modal-display-mode-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-modal-display-mode-title {
  font-family: var(--gm3-sys-typography-type-scale--title-m-font-name);
  font-size: var(--gm3-sys-typography-type-scale--title-m-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--title-m-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--title-m-line-height);
  color: var(--gm3-sys-color-on-surface);
  margin-bottom: 1rem;
}

.settings-modal-option-card.selected {
  border-color: var(--gm3-sys-color-primary);
  background-color: var(--gm3-sys-color-primary-container);
}

.settings-modal-option-card.selected .settings-modal-option-title,
.settings-modal-option-card.selected .settings-modal-option-description {
  color: var(--gm3-sys-color-on-primary-container);
}

.settings-modal-option-content {
  display: flex;
  flex-direction: column;
}

.settings-modal-option-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-modal-option-title {
  font-family: var(--gm3-sys-typography-type-scale--label-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--label-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--label-l-font-weight);
  color: var(--gm3-sys-color-on-surface);
}

.settings-modal-option-description {
  font-family: var(--gm3-sys-typography-type-scale--body-l-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-font-weight);
  color: var(--gm3-sys-color-on-surface-variant);
}

.settings-modal-option-example {
  font-family: var(--gm3-sys-typography-type-scale--body-l-alt-font-name);
  font-size: var(--gm3-sys-typography-type-scale--body-l-alt-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--body-l-alt-font-weight);
  color: var(--gm3-sys-color-on-surface);
  padding: 8px;
  background-color: var(--gm3-sys-color-surface-container-lowest);
  border-radius: 6px;
}
