/* StudyPage.css */

.study-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding: 1rem;
  box-sizing: border-box;
}

.study-page-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
}

.study-page-header-text {
  flex-grow: 1;
  text-align: right;
  color: var(--gm3-sys-color-on-surface-variant);
  font-size: var(--gm3-sys-typography-type-scale--title-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--title-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--title-l-line-height);
}

.study-page-word-display {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
  mask: linear-gradient(
    90deg,
    rgb(0 0 0 / 0.5),
    black calc(0% + 5vw),
    black calc(100% - 5vw),
    rgb(0 0 0 / 0.5)
  );
  width: calc(100% + 2rem);
  max-width: 1000px;
  flex-grow: 1;
  min-height: 0;

  margin-inline: -1rem;
}

.study-page-carousel-container {
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform; /* Optimize for animation */
}

.study-page-word-card-container {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 5lvw;
  box-sizing: border-box;
}

.study-page-word-card {
  background-color: var(--gm3-sys-color-surface-container-high);
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  .card-content {
    padding: 1rem;
  }
}

.study-page-word-text {
  font-size: calc(4rem + 1.5vw);
  line-height: calc(6rem + 1.5vw);
  overflow: hidden;
}

.study-page-play-button {
  width: 100%;
  max-width: 600px;
  height: 96px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border-radius: 64px;
  margin-block-end: 1rem;

  flex-shrink: 0;

  transition:
    border-radius cubic-bezier(0.42, 1.67, 0.21, 0.90) 350ms,
    scale cubic-bezier(0.42, 1.67, 0.21, 0.90) 350ms,
    opacity cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms,
    background cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms,
    color cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms;
  &.playing {
    background-color: var(--gm3-sys-color-error);
    color: var(--gm3-sys-color-on-error);
    border-radius: 16px;
  }
  &.loading {
    scale: 0.95;
    opacity: 0.75;
  }
}

.study-page-navigation-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-shrink: 0;
}

.study-page-nav-button {
  flex-grow: 1;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
