/* StudyPage.css */

.study-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding: 16px;
  box-sizing: border-box;
}

.study-page-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.study-page-header-text {
  flex-grow: 1;
  text-align: right;
  color: var(--gm3-sys-color-on-surface-variant);
  font-size: var(--gm3-sys-typography-type-scale--title-l-font-size);
  font-weight: var(--gm3-sys-typography-type-scale--title-l-font-weight);
  line-height: var(--gm3-sys-typography-type-scale--title-l-line-height);
}

.study-page-word-display {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
  mask: linear-gradient(
    90deg,
    rgb(0 0 0 / 0),
    black calc(0% + 5lvw),
    black calc(100% - 5lvw),
    rgb(0 0 0 / 0)
  );
  width: calc(100% + 2rem);
  max-width: 1000px;
  flex-grow: 1;
  min-height: 0;

  margin-inline: -1rem;
}

.study-page-carousel-container {
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform; /* Optimize for animation */
}

.study-page-word-card-container {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 5lvw;
  box-sizing: border-box;
}

.study-page-word-card {
  background-color: var(--gm3-sys-color-surface-container-high);
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  font-size: calc(4rem + 1.5vw);
  line-height: calc(5rem + 1.5vw);
  .card-content {
    padding: 1rem;
  }
}

.study-page-play-button {
  width: 100%;
  margin-block-end: 16px;

  flex-shrink: 0;

  &.playing {
    background-color: var(--gm3-sys-color-error);
    color: var(--gm3-sys-color-on-error);
    border-radius: 16px;
  }
  &.loading {
    background-color: var(--gm3-sys-color-inverse-surface);
    color: var(--gm3-sys-color-inverse-on-surface);
    border-radius: 16px;
    & > svg {
      animation: spin 2s linear infinite;
    }
  }
}

.study-page-navigation-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
  flex-shrink: 0;
}

.study-page-nav-button {
  flex-grow: 1;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}